#wrap{
  background: -webkit-linear-gradient(90deg, #15527e, #072c63, #15527e);
  background: -moz-linear-gradient(50% 100% 90deg,#15527e, #072c63, #15527e 100%);
  width: 100%;
  height: 100%;
  position: absolute;

}
#menu{
  left: 50%;
  margin-left: -100px; /* A metade de sua largura. */
  margin-top: 15%;
  height: 300px;
  position: absolute;
  width: 200px; /* O valor que você desejar. */
  background: rgb(196, 201, 214);
  border-radius: 5%;
  padding:50px 50px 50px 50px;
}

a:link, a:visited {
    background-color: #15527e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
}

a:hover, a:active {
    background-color: red;
}

#tabMenu{

}
