#wrap{
  background: -webkit-linear-gradient(90deg, #15527e, #072c63, #15527e);
  background: -moz-linear-gradient(50% 100% 90deg,#15527e, #072c63, #15527e 100%);
  width: 100%;
  height: 100%;
  padding: 10% 10% 10% 10%;
  position: absolute;

}

#conteudo{
  left:30%;
   /* A metade de sua largura. */
  padding: 20px 20px 20px 20px;
  position: absolute;
   /* O valor que você desejar. */
  background: rgb(196, 201, 214);
  border-radius: 5%;
  padding:50px 50px 50px 50px;

}

a:link, a:visited {
    background-color: #15527e;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100px;
}

a:hover, a:active {
    background-color: red;
}


#tabLista{
  border: solid;
  height: 100px;
}
